
.dotted {
    border: gold;
}

.dashed {
    border: skyblue;
}

.solid {
    border: orange;
}

.double {
    border:yellow;
}

.groove {
    border: purple;
}

.ridge {
    border:green;
}

.inset {
    border: blue;
}

.outset {
    border: red;
}

.none {
    border: none;
}

.hidden {
    border: hidden;
}

.mix {
    border: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, red, yellow, green, cyan, blue, magenta);
}
